In [44]:
import pandas as pd
import json
from sklearn.externals import joblib

In [2]:
model = joblib.load('LR_68_model.pkl')

In [3]:
# json_form = request.json

In [4]:
json_ = '''{"LINEID":"68", "STOPPOINTID1":"3400", "STOPPOINTID2":"3412", "DIRECTION":"2", "SUBMIT_TIME":"60000", "DAYOFWEEK":"4", "HOLIDAY":"0", "rain":"0.0", "temp":"9.5", "vapour_pressure":"10.6","rel_hum":"89.0"}'''
json_form = json.loads(json_)

In [6]:
df_query = pd.DataFrame([json_form])

In [7]:
SUBMIT_TIME = int(df_query['SUBMIT_TIME'])

In [8]:
df_query_stop1 = df_query[['LINEID',
                           'STOPPOINTID1',
                           'DIRECTION',
                           'DAYOFWEEK',
                           'HOLIDAY',
                           'rain',
                           'temp',
                           'vapour_pressure',
                           'rel_hum']]

In [9]:
df_query_stop2 = df_query[['LINEID',
                           'STOPPOINTID2',
                           'DIRECTION',
                           'DAYOFWEEK',
                           'HOLIDAY',
                           'rain',
                           'temp',
                           'vapour_pressure',
                           'rel_hum']]

In [10]:
df_query_stop1 = df_query_stop1.rename({'STOPPOINTID1': 'STOPPOINTID'}, axis=1)
df_query_stop2 = df_query_stop2.rename({'STOPPOINTID2': 'STOPPOINTID'}, axis=1)

In [11]:
df_query_stop1

,LINEID,STOPPOINTID,DIRECTION,DAYOFWEEK,HOLIDAY,rain,temp,vapour_pressure,rel_hum
0,68,3400,2,4,0,0.0,9.5,10.6,89.0

In [12]:
# df_query_stop1['ROUTEID'] = 0
# df_query_stop1['TRIPS_PLANNEDTIME_DEP'] = 0
# df_query_stop2['ROUTEID'] = 0
# df_query_stop2['TRIPS_PLANNEDTIME_DEP'] = 0

In [13]:
df_timetable = pd.read_csv('timetable_68.csv')

In [14]:
df_timetable = df_timetable.astype('str')
df_query_stop1 = df_query_stop1.astype('str')
df_query_stop2 = df_query_stop2.astype('str')

In [15]:
df_timetable

      LINEID ROUTEID STOPPOINTID DIRECTION TRIPS_PLANNEDTIME_DEP DAYOFWEEK
0         68   68_85        1384         2                 81000         0
1         68   68_85        1385         2                 81000         0
2         68   68_85        7589         2                 81000         0
3         68   68_85        1355         2                 81000         0
4         68   68_85        1357         2                 81000         0
...      ...     ...         ...       ...                   ...       ...
26634     68   68_85        6014         2                 53700         2
26635     68   68_85        2158         2                 53700         2
26636     68   68_85        7665         2                 53700         2
26637     68   68_85        3405         2                 53700         2
26638     68   68_85        3420         2                 53700         2

[26639 rows x 6 columns]

In [16]:
df_fill_stop1 = pd.merge(df_timetable, df_query_stop1, on=['LINEID', 'STOPPOINTID','DIRECTION','DAYOFWEEK'])
df_fill_stop2 = pd.merge(df_timetable, df_query_stop2, on=['LINEID', 'STOPPOINTID','DIRECTION','DAYOFWEEK'])

In [17]:
df_fill_stop1

,LINEID,ROUTEID,STOPPOINTID,DIRECTION,TRIPS_PLANNEDTIME_DEP,DAYOFWEEK,HOLIDAY,rain,temp,vapour_pressure,rel_hum
0,68,68_84,3400,2,57600,4,0,0.0,9.5,10.6,89.0
1,68,68_84,3400,2,61200,4,0,0.0,9.5,10.6,89.0
2,68,68_84,3400,2,33300,4,0,0.0,9.5,10.6,89.0
3,68,68_85,3400,2,75600,4,0,0.0,9.5,10.6,89.0
4,68,68_85,3400,2,80700,4,0,0.0,9.5,10.6,89.0
5,68,68_82,3400,2,23700,4,0,0.0,9.5,10.6,89.0
6,68,68_66,3400,2,87300,4,0,0.0,9.5,10.6,89.0
7,68,68_66,3400,2,84900,4,0,0.0,9.5,10.6,89.0
8,68,68_83,3400,2,64800,4,0,0.0,9.5,10.6,89.0
9,68,68_83,3400,2,54000,4,0,0.0,9.5,10.6,89.0
10,68,68_83,3400,2,28200,4,0,0.0,9.5,10.6,89.0
11,68,68_83,3400,2,35100,4,0,0.0,9.5,10.6,89.0
12,68,68_83,3400,2,68400,4,0,0.0,9.5,10.6,89.0
13,68,68_83,3400,2,72000,4,0,0.0,9.5,10.6,89.0
14,68,68_83,3400,2,46800,4,0,0.0,9.5,10.6,89.0
15,68,68_83,3400,2,39600,4,0,0.0,9.5,10.6,89.0
16,68,68_83,3400,2,50400,4,0,0.0,9.5,10.6,89.0
17,68,68_83,3400,2,43200,4,0,0.0,9.5,10.6,89.0
18,68,68_84,3400,2,61800,4,0,0.0,9.5,10.6,89.0
19,68,68_83,3400,2,27900,4,0,0.0,9.5,10.6,89.0
20,68,68_83,3400,2,72900,4,0,0.0,9.5,10.6,89.0
21,68,68_83,3400,2,25200,4,0,0.0,9.5,10.6,89.0
22,68,68_83,3400,2,65700,4,0,0.0,9.5,10.6,89.0
23,68,68_83,3400,2,69300,4,0,0.0,9.5,10.6,89.0
24,68,68_84,3400,2,32400,4,0,0.0,9.5,10.6,89.0
25,68,68_83,3400,2,36000,4,0,0.0,9.5,10.6,89.0
26,68,68_83,3400,2,21600,4,0,0.0,9.5,10.6,89.0
27,68,68_82,3400,2,23400,4,0,0.0,9.5,10.6,89.0
28,68,68_85,3400,2,77100,4,0,0.0,9.5,10.6,89.0

In [18]:
df_fill_stop1 = df_fill_stop1.rename({'STOPPOINTID': 'STOPPOINTID1'}, axis=1)
df_fill_stop2 = df_fill_stop2.rename({'STOPPOINTID': 'STOPPOINTID2'}, axis=1)

In [19]:
# df_fill['HOLIDAY'] = query_df.loc[0,'HOLIDAY']
# df_fill['rain'] = query_df.loc[0,'rain']
# df_fill['temp'] = query_df.loc[0,'temp']
# df_fill['vapour_pressure'] = query_df.loc[0,'vapour_pressure']
# df_fill['rel_hum'] = query_df.loc[0,'rel_hum']

In [20]:
df_fill = pd.merge(df_fill_stop1, df_fill_stop2, on=['LINEID','ROUTEID','DIRECTION','DAYOFWEEK','TRIPS_PLANNEDTIME_DEP','HOLIDAY','rain','temp','vapour_pressure','rel_hum'])

In [21]:
df_fill

,LINEID,ROUTEID,STOPPOINTID1,DIRECTION,TRIPS_PLANNEDTIME_DEP,DAYOFWEEK,HOLIDAY,rain,temp,vapour_pressure,rel_hum,STOPPOINTID2
0,68,68_84,3400,2,57600,4,0,0.0,9.5,10.6,89.0,3412
1,68,68_84,3400,2,61200,4,0,0.0,9.5,10.6,89.0,3412
2,68,68_84,3400,2,33300,4,0,0.0,9.5,10.6,89.0,3412
3,68,68_85,3400,2,75600,4,0,0.0,9.5,10.6,89.0,3412
4,68,68_85,3400,2,80700,4,0,0.0,9.5,10.6,89.0,3412
5,68,68_82,3400,2,23700,4,0,0.0,9.5,10.6,89.0,3412
6,68,68_66,3400,2,87300,4,0,0.0,9.5,10.6,89.0,3412
7,68,68_66,3400,2,84900,4,0,0.0,9.5,10.6,89.0,3412
8,68,68_83,3400,2,64800,4,0,0.0,9.5,10.6,89.0,3412
9,68,68_83,3400,2,54000,4,0,0.0,9.5,10.6,89.0,3412
10,68,68_83,3400,2,28200,4,0,0.0,9.5,10.6,89.0,3412
11,68,68_83,3400,2,35100,4,0,0.0,9.5,10.6,89.0,3412
12,68,68_83,3400,2,68400,4,0,0.0,9.5,10.6,89.0,3412
13,68,68_83,3400,2,72000,4,0,0.0,9.5,10.6,89.0,3412
14,68,68_83,3400,2,46800,4,0,0.0,9.5,10.6,89.0,3412
15,68,68_83,3400,2,39600,4,0,0.0,9.5,10.6,89.0,3412
16,68,68_83,3400,2,50400,4,0,0.0,9.5,10.6,89.0,3412
17,68,68_83,3400,2,43200,4,0,0.0,9.5,10.6,89.0,3412
18,68,68_84,3400,2,61800,4,0,0.0,9.5,10.6,89.0,3412
19,68,68_83,3400,2,27900,4,0,0.0,9.5,10.6,89.0,3412
20,68,68_83,3400,2,72900,4,0,0.0,9.5,10.6,89.0,3412
21,68,68_83,3400,2,25200,4,0,0.0,9.5,10.6,89.0,3412
22,68,68_83,3400,2,65700,4,0,0.0,9.5,10.6,89.0,3412
23,68,68_83,3400,2,69300,4,0,0.0,9.5,10.6,89.0,3412
24,68,68_84,3400,2,32400,4,0,0.0,9.5,10.6,89.0,3412
25,68,68_83,3400,2,36000,4,0,0.0,9.5,10.6,89.0,3412
26,68,68_83,3400,2,21600,4,0,0.0,9.5,10.6,89.0,3412
27,68,68_82,3400,2,23400,4,0,0.0,9.5,10.6,89.0,3412
28,68,68_85,3400,2,77100,4,0,0.0,9.5,10.6,89.0,3412

In [22]:
df_fill_stop1 = df_fill[['LINEID',
                         'ROUTEID',
                         'STOPPOINTID1',
                         'DIRECTION',
                         'TRIPS_PLANNEDTIME_DEP',
                         'DAYOFWEEK',
                         'HOLIDAY',
                         'rain',
                         'temp',
                         'vapour_pressure',
                         'rel_hum']]

In [23]:
df_fill_stop2 = df_fill[['LINEID',
                         'ROUTEID',
                         'STOPPOINTID2',
                         'DIRECTION',
                         'TRIPS_PLANNEDTIME_DEP',
                         'DAYOFWEEK',
                         'HOLIDAY',
                         'rain',
                         'temp',
                         'vapour_pressure',
                         'rel_hum']]

In [24]:
df_fill_stop1 = df_fill_stop1.rename({'STOPPOINTID1': 'STOPPOINTID'}, axis=1)
df_fill_stop2 = df_fill_stop2.rename({'STOPPOINTID2': 'STOPPOINTID'}, axis=1)

In [25]:
df_fill_stop1

,LINEID,ROUTEID,STOPPOINTID,DIRECTION,TRIPS_PLANNEDTIME_DEP,DAYOFWEEK,HOLIDAY,rain,temp,vapour_pressure,rel_hum
0,68,68_84,3400,2,57600,4,0,0.0,9.5,10.6,89.0
1,68,68_84,3400,2,61200,4,0,0.0,9.5,10.6,89.0
2,68,68_84,3400,2,33300,4,0,0.0,9.5,10.6,89.0
3,68,68_85,3400,2,75600,4,0,0.0,9.5,10.6,89.0
4,68,68_85,3400,2,80700,4,0,0.0,9.5,10.6,89.0
5,68,68_82,3400,2,23700,4,0,0.0,9.5,10.6,89.0
6,68,68_66,3400,2,87300,4,0,0.0,9.5,10.6,89.0
7,68,68_66,3400,2,84900,4,0,0.0,9.5,10.6,89.0
8,68,68_83,3400,2,64800,4,0,0.0,9.5,10.6,89.0
9,68,68_83,3400,2,54000,4,0,0.0,9.5,10.6,89.0
10,68,68_83,3400,2,28200,4,0,0.0,9.5,10.6,89.0
11,68,68_83,3400,2,35100,4,0,0.0,9.5,10.6,89.0
12,68,68_83,3400,2,68400,4,0,0.0,9.5,10.6,89.0
13,68,68_83,3400,2,72000,4,0,0.0,9.5,10.6,89.0
14,68,68_83,3400,2,46800,4,0,0.0,9.5,10.6,89.0
15,68,68_83,3400,2,39600,4,0,0.0,9.5,10.6,89.0
16,68,68_83,3400,2,50400,4,0,0.0,9.5,10.6,89.0
17,68,68_83,3400,2,43200,4,0,0.0,9.5,10.6,89.0
18,68,68_84,3400,2,61800,4,0,0.0,9.5,10.6,89.0
19,68,68_83,3400,2,27900,4,0,0.0,9.5,10.6,89.0
20,68,68_83,3400,2,72900,4,0,0.0,9.5,10.6,89.0
21,68,68_83,3400,2,25200,4,0,0.0,9.5,10.6,89.0
22,68,68_83,3400,2,65700,4,0,0.0,9.5,10.6,89.0
23,68,68_83,3400,2,69300,4,0,0.0,9.5,10.6,89.0
24,68,68_84,3400,2,32400,4,0,0.0,9.5,10.6,89.0
25,68,68_83,3400,2,36000,4,0,0.0,9.5,10.6,89.0
26,68,68_83,3400,2,21600,4,0,0.0,9.5,10.6,89.0
27,68,68_82,3400,2,23400,4,0,0.0,9.5,10.6,89.0
28,68,68_85,3400,2,77100,4,0,0.0,9.5,10.6,89.0

In [26]:
df_fill_stop1_rev = df_fill_stop1.astype({'LINEID': 'category','ROUTEID':'category','STOPPOINTID':'category','DIRECTION':'category','TRIPS_PLANNEDTIME_DEP':'int64','DAYOFWEEK':'category','HOLIDAY':'category','rain':'float64','temp':'float64','vapour_pressure':'float64','rel_hum':'float64'})
df_fill_stop2_rev = df_fill_stop2.astype({'LINEID': 'category','ROUTEID':'category','STOPPOINTID':'category','DIRECTION':'category','TRIPS_PLANNEDTIME_DEP':'int64','DAYOFWEEK':'category','HOLIDAY':'category','rain':'float64','temp':'float64','vapour_pressure':'float64','rel_hum':'float64'})

In [27]:
df_fill_stop1_rev = df_fill_stop1_rev.sort_values(by=['TRIPS_PLANNEDTIME_DEP'])
df_fill_stop2_rev = df_fill_stop2_rev.sort_values(by=['TRIPS_PLANNEDTIME_DEP'])

In [28]:
df_fill_stop1_rev.dtypes

LINEID                   category
ROUTEID                  category
STOPPOINTID              category
DIRECTION                category
TRIPS_PLANNEDTIME_DEP       int64
DAYOFWEEK                category
HOLIDAY                  category
rain                      float64
temp                      float64
vapour_pressure           float64
rel_hum                   float64
dtype: object

In [30]:
df_fill_stop1_rev = pd.get_dummies(df_fill_stop1_rev)
df_fill_stop2_rev = pd.get_dummies(df_fill_stop2_rev)

In [32]:
model_columns = joblib.load('model_columns.pkl')

In [33]:
for col in model_columns:
    if col not in df_fill_stop1_rev.columns:
        df_fill_stop1_rev[col] = 0
    if col not in df_fill_stop2_rev.columns:
        df_fill_stop2_rev[col] = 0

In [34]:
df_fill_stop1_rev = df_fill_stop1_rev[model_columns]
df_fill_stop2_rev = df_fill_stop2_rev[model_columns]

In [38]:
fill_stop1_pred = model.predict(df_fill_stop1_rev)
fill_stop2_pred = model.predict(df_fill_stop2_rev)

In [39]:
print(fill_stop1_pred)

[21923.37419987 23700.47905648 24000.97646761 25529.34313333
 28233.81983352 28534.31724465 33168.86731708 34070.35955036
 35445.75770056 36347.24993408 39953.21886754 43559.187801
 47165.15673459 50771.12566817 54377.09460175 58410.6498518
 62016.61878526 62617.61360753 65195.00140226 66096.49363565
 68800.97033584 69702.46256924 72406.93926942 73308.4315027
 75534.91700327 77037.40405893 80643.3729924  84938.20214093
 87342.18142998]

In [42]:
for item in fill_stop1_pred:
    if item > SUBMIT_TIME:
        print("The predicted arrival time of stop 3400 is", item)
        break

The predicted arrival time of stop 3400 is 62016.61878526211

In [43]:
for item in fill_stop2_pred:
    if item > SUBMIT_TIME:
        print("The predicted arrival time of stop 3412 is", item)
        break

The predicted arrival time of stop 3412 is 62460.47985827923